@charset "utf-8";

/*  */
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block; 
}




/*  */
body {
  background-color: #510FAD;
  font-family: monospace;
  height: 100vh;
  overflow: hidden;
}





footer {
  color: white;
  padding-top: 10px;
}

/*  */
.powered-by {
  display: none;
}




/*  */
.underconstruction {
  
  background: repeating-linear-gradient(
    45deg,
    #43464B,
    #43464B 10px,
    black 10px,
    black 20px
  );
  color: #FFE700;
}






/*  */
.steve-window {
  height: 64.5vh;
}

.steve-main {
  height: 100%;
}




/*  */
.slfy-window {
    height: 29vh;
}

/*  */
.slfy-header {
  font-size: 1.1em;
}

/*  */
.slfy-body {
  background-color: black;
  background-image: repeating-linear-gradient(
    180deg,
    rgb(0,0,0),
    rgb(0,0,0) 0.5%,
    rgb(24,24,24) 0.75%
  );
  border: 1px solid darkgray;
  color: #ffBE00;
  overflow-y: scroll;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

/*  */
.slfy-footer {
  color: black;
  text-align: center;
}









/*
  
*/
@media screen and (min-width: 768px) {
  

}





/*
  
*/
@media screen and (min-width: 992px) {
  
  .steve-window {
    height: 95vh;
  }
  
  .slfy-window {
    height: 95vh;
  }
}
