@charset "utf-8";

/*
  Good example website of what I'm aiming to be similar to:
  https://timmyomahony.com/

  My current color pallete idea:
  http://paletton.com/#uid=71a0u0kw0w0jvDaoPy4y5oODajv
*/


:root {
  --footer-height: 23px;
  
  --steve-window-height-portrait: calc(100vh - 29vh - var(--footer-height));
  --slfy-window-height-portrait: calc(29vh);
  
  --steve-window-height-lg: calc(100vh - var(--footer-height) - 13px);
  --slfy-window-height-lg: calc(100vh - var(--footer-height) - 13px);
}


/*
  
*/
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block; 
}

html {
  font-family: monospace;
}

/*  */
body {
  /*background-color: #510FAD;*/  /* Purple */
  background-color: #1A1EB2;  /* Blue */
  font-family: monospace;
  overflow: hidden;
}

footer {
  bottom: 0px;
  height: var(--footer-height);
  position: absolute;
  width: 100%;
}

footer p {
  color: whitesmoke;
  /*
  width: 70vw;
  background-color: slategray;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  */
  
}


/*  */
.powered-by {
  display: none;
}



/*  */
.underconstruction {
  
  background: repeating-linear-gradient(
    45deg,
    #43464B,
    #43464B 10px,
    black 10px,
    black 20px
  );
  
  color: #FFE700;
}

.fadeOut {
  
  /*
  mask-image or
  -webkit-mask-iamge:
  linear-gradient(to right, transparent, white 10px, white 90%, transparent)
  */
  
  background: linear-gradient(
    0deg,
    transparent,
    white
  );
}

.white-mask {
  -webkit-mask-image: linear-gradient(to bottom, transparent, white 15px, white 92%, transparent);
  mask-image: linear-gradient(to bottom, transparent, white 15px, white 92%, transparent);
}

.black-mask {
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 15px, black 92%, transparent);
  mask-image: linear-gradient(to bottom, transparent, black 15px, black 92%, transparent);
}

/*  */
.steve-window {
  
  height: var(--steve-window-height-portrait);
}

.steve-main {
  height: 100%;
}

/*
.steve-main article:not([id="about"]) {
  display: none;
}
*/
.steve-main article {
  display: none;
}

.steven-gago-logo {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}


#steve-gago-image {
  border-radius: 50%;
  height: 10em;
  width: 10em;
}

#circuit-board-image {
  width: 300px;
}

#mew-image {
  width: 300px;
}

#vegetation-image {
  width: 300px;
}

#water-bath-image {
  width: 300px;
}


.dl-horizontal dt {
  width: 160px;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 992px) {
  .dl-horizontal dt {
    float: left;
    text-align: right;
  }
  
  .dl-horizontal dd {
    margin-left: 180px;
  }
}

.slfy-window {
  height: calc(29vh);
}

.slfy-header {
  border: none;
  display: block;
  font-size: 15px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.slfy-main p {
  margin: 0;
}

/*  */
.slfy-body {
  background-color: black;
  background-image: repeating-linear-gradient(
    180deg,
    rgb(0,0,0),
    rgb(0,0,0) 0.5%,
    rgb(24,24,24) 0.75%
  );
  color: #ffBE00;
  overflow-y: auto;
}

.card-img-sm {
  max-width: 40%;
}

.card-img-md {
  max-width: 60%;
}

.card-columns {
  column-count: 1;
}

@media screen and (min-width: 1200px) {
  
  .card-columns {
    column-count: 2;
  }
}


.modal-body {
  
}



/*
  Super tiny width
*/
@media screen and (min-width: 458px) {
  
  .powered-by {
    display: inline;
  }
}

/*
  col-sm-*
*/
@media screen and (min-width: 576px) {
  
  .steve-window {
    height: var(--steve-window-height-lg);
    /*transform: matrix3d(1,0,0.00,0.00009,0.00,1,0.00,0.0000,0,0,1,0,0,0,0,1);*/
  }
  
  .slfy-window {
    height: var(--slfy-window-height-lg);
    /*transform: matrix3d(1,0,0.00,-0.00009,0.00,1,0.00,0.0000,0,0,1,0,0,0,0,1);*/
  }
}