@charset "utf-8";

.sidenav-list {
  width: auto;
}

.sidenav-list-item {
  height: 100%;
}

.sidenav-link {
  font-size: 0.8em;
}

nav ul li {
  margin: 0;
  padding: 0;
  
  position: relative;
  top: -15px;
}

nav ul li a {
  display: block;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
}

nav ul li.about:hover {
  background-color: red;
  color: white;
  text-decoration: none;
}

nav ul li.work:hover {
  background-color: gold;
  color: white;
  text-decoration: none;
}

nav ul li.education:hover {
  background-color: orange;
  color: white;
  text-decoration: none;
}

nav ul li.experience:hover {
  background-color: green;
  color: white;
  text-decoration: none;
}

nav ul li.portfolio:hover {
  background-color: blue;
  color: white;
  text-decoration: none;
}

nav ul li.resume:hover {
  background-color: purple;
  color: white;
  text-decoration: none;
}

nav ul li.contact:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}