/*
  
*/
@charset "utf-8";


/*************** WINDOW ******************/

/*
  Styling for the outside of the window class.
*/
.window {
  background-color: lightgray;
  /*border: 5px solid lightgray;*/
  border-radius: 6px;
  box-shadow: 15px 15px 12px rgba(50, 50, 50, 0.55);
  color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/*
  
*/
.window-header {
  background: linear-gradient(whitesmoke, lightgray);
  border-bottom: 1px solid darkgray;
  z-index: 10;
}

/*
  
*/
.window-body {
  background-color: white;
  flex: 1;
  width: 100%;
}

/*
  
*/
.window-footer {
  color: black;
  z-index: 10;
}



/*************** SIDENAV ******************/

/*
  
*/
.sidenav {
  background-color: whitesmoke;
  border-right: 1px solid lightgray;
  font-size: 1.3em;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidenav-list {
  left: -3px;
  list-style-type: none;
  position: relative;
}

.sidenav-list-item {
  /*padding-top: calc(100%/15px);*/
}

/*
  
*/
.sidenav-link {
  color: black;
  /*display: inline;*/
  font-size: 0.5;
  text-decoration: none;
}

/*
  
*/
.sidenav-link.hover {

  text-decoration: none;
}

/*
  
*/
.sidenav.hover:not(.active) {
  background-color: lightgray;
}

/*
  
*/
.sidenav-icon {
  font-size: 1em;
  text-align: center;
  width: 100%;
}

/*
  
*/
.sidenav-text {
  display: none;
}

/*************** WINDOW-CONTENT ******************/

.window-main {
  height: inherit;
  overflow-y: auto;
}


/*************** RESPONSIVE DESIGN ******************/

/*  */
@media screen and (min-width: 768px) {
  
  .window-header {
    font-size: 2em;
  }
  
  
  .sidenav-header {
    display: block;
  }
  
  .sidenav-list-item {
    left: 0px;
    font-size: 1.1em;
    margin-top: 15px;
    position: relative;
    width: 100%;
  }
  
  .sidenav-icon {
    text-align: auto;
    width: auto;
  }
  
  .sidenav-text {
    display: inline;
  }
}