/*  */
header, section, footer, aside, nav, main, article, figure {
  display: block; 
}

/*  */
body {
  background-color: #510FAD;
  
  overflow: hidden;
  
  font-family: monospace;
}

footer {
  color: white;
}

/*  */
.terminal-body {
  
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  
  color: #ffBE00;
  background-color: black;
  
  background-image: repeating-linear-gradient(
    180deg,
    rgb(0,0,0),
    rgb(0,0,0) 0.5%,
    rgb(24,24,24) 0.75%
  );
  
  border: 1px solid darkgray;
  
  overflow-y: scroll;
}

/*  */
.terminal-header {
  font-size: 1em;
}

/*  */
.terminal-footer {
  
}

/*  */
.file-tree {

  border-right: 1px solid darkgray;
  
  overflow-y: scroll;
  
  padding: 0px;
  
  list-style-type: none;
}

/*  */
.file-tree-header {
  font-size: 1.3em;
  
  padding-top: 10px;
  padding-bottom: 0px;
}

/*  */
.file-tree-section {
  
  list-style-type: none;
  
  position: relative;
  left: -10px;
  
  padding-top: 0px;
  padding-left: 20px;
}

.file-tree li {
  
  position: relative;
  
  left: -10px;
  
  margin-top: 15px;
  
  font-size: 1.5em;
}

/*  */
.file-tree a {
  color: black;
  
  text-decoration: none;
  
  display: inline;
}

/*  */
.file-tree, a.hover {

  text-decoration: none;
  
  overflow-y: auto;
}

/*  */
.file-tree, a.hover:not(.active) {
  background-color: lightgray;
}

/*  */
.file-preview {
  
  height: inherit;
  
  overflow-y: auto;
}

/*  */
.underconstruction {
  
  color: #FFE700;
  
  background: repeating-linear-gradient(
    45deg,
    #43464B,
    #43464B 10px,
    black 10px,
    black 20px
  );
}

/*  */
.text-center {
  text-align: center;
}

/*  */
@keyframes image-filters {
  0% { filter: invert(75%); }
  25% { filter: invert(100%); }
  50% { filter: invert(75%); }
  75% { filter: invert(85%); }
  100% { filter: invert(100%); }
}

/*  */
img#me {
  max-width: 150px;
  
  border-radius: 50%;
}

/*  */
img#me:hover {
  animation-name: image-filters;
  animation-delay: 2s;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}



/*  */
.steve-window {
  height: 64.5vh;
}

.steve-file-preview {
  height: 100%;
}

/*  */
.slfy-window {
    height: 29vh;
}

/*  */
.file-tree-header-links {
  display: none;
}

/*  */
.contact {
  display: none;
}

/*  */
.powered-by {
  display: none;
}

.navlink-text {
  display: none;
}



/*  */
@media screen and (min-width: 768px) {
  
  .file-tree ul li {
    left: 10px;
  }
  
  .file-tree-header-links {
    display: block;
  }
  
  .file-tree-section {
    display: block;
  }
  
  .contact {
    display: block;
  }
  
  .navlink-text {
    display: inline;
  }
}





/*  */
@media screen and (min-width: 992px) {
  
  .steve-window {
    height: 95vh;
  }
  
  .steve-file-preview {
    height: 100%;
  }
  
  .slfy-window {
    height: 95vh;
  }
}
