div(class="alert alert-warning alert-dismissible fade show" role="alert")
    p
      | Yep, this website uses cookies too. Carry on if you're happy with this or
      | click 
      a(class="alert-link" href="/cookies")
        | here
      | for the cookie policy.  By using my site, 
      | you have acknowledged that you have read, understood, and accepted
      | the cookie policy.
    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
      span(aria-hidden="true")
        i(class="fas fa-times-circle")