header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

footer {
  bottom: 0px;
  height: 23px;
  position: absolute;
  width: 100%;
}

footer p {
  color: whitesmoke;
  /*
    width: 70vw;
    background-color: slategray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    */
}

footer .powered-by {
  display: none;
}

footer .fa-cookie-bite {
  color: white;
}

footer a:hover {
  color: whitesmoke;
}

@media screen and (min-width: 458px) {
  footer .powered-by {
    display: inline;
  }
}

.alert {
  bottom: -10px;
  left: 2.5%;
  position: absolute;
  width: 95%;
  z-index: 100;
}

.alert #close-button {
  height: 100%;
}

footer p {
  color: black;
}
