@charset "UTF-8";

$breakpoint: 458px;
$footer-height: 23px;
$foreground-color: whitesmoke;

footer {
  bottom: 0px;
  height: $footer-height;
  position: absolute;
  width: 100%;

  
  p {
    color: $foreground-color;
    /*
    width: 70vw;
    background-color: slategray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    */
  }
  
  &.powered-by {
    display: none;
  }
  
  @media screen and (min-width: $breakpoint) {
    
    &.powered-by {
      display: inline;
    }
  }
}