//- about.pug
article(id="about" class="text-center pt-2 pt-sm-5")
      
  div(class="justify-content-center")
    img(id="steve-gago-image"
        class="img-fluid"
        src="../images/steven-gago.jpg"
        alt="Steven Gago")

  h2(class="fl-1")
    i(class="fas fa-gamepad" aria-hidden="true")
    |&nbsp;About
    div(class="gamepad-button")

  p(class="f-2")
    |Hi, I'm Steve, and I am a software developer.
    |Let me help with your next software project!

  p(class="f-1")
    |I design, build, and test all different kinds of software.

  p(class="f-1")
    |Want to talk?  Shoot me an email at&nbsp;
    a(href="mailto:Hi@SteveGago.com")
      |Hi@SteveGago.com
