article(id="education" class="pt-2 pt-sm-5")

  h2(class="text-center fl-1")
    i(class="fas fa-graduation-cap" aria-hidden="true")
    |&nbsp;Education

  p
    |I am a proud graduate of Marquette University where I obtained
    |a Bachelors of Science in Electrical and Electronic Engineering
    |and a minor in Mathematics.