article(id="experience" class="pt-2 pt-sm-5")
  h2(class="text-center fl-1")
    i(class="fas fa-industry" aria-hidden="true")
    |&nbsp;Experience

  p
    |I've touched basically everything on computers including
  
  dl(class="dl-horizontal")
    
    dt Program Languages
    dd
      |C#, Java, C, C++, Python, assembly, SQL

    dt Markup Languages
    dd
      |HTML, CSS, Sass, Pug/Jade, XML, JSON, Markdown

    dt Web Languages
    dd
      |JavaScript, TypeScript, jQuery

    dt Electronics (Zzzt!)
    dd
      |Circuit board design and printing
      br
      |Passive amplifiers, active amplifiers, ADC's, DAC's, multiplexers, etc.
      br
      |FPGA's, motor controllers
    
    dt Embedded Platforms
    dd
      |68000, Arduino, AVR, Raspberry Pi,
      |and a couple custom SBC's
    
    dt Serial Comms
    dd
      |RS-232, I2C, and SPI
    
    dt PID Control Loops
    dd
      |Motor speed and temperature control loops
    
    dt OS Design
    dd
      |Context switching, scheduling, interrupts, memory management, etc.
    
    dt Development Methods
    dd
      |Agile and Waterfall
    
    dt OO Design Patterns
    dd
      |MVC, factory, builder, strategy, state, prototype, humble-object, null-object, etc.
    
    dt AI Algorithms
    dd
      |Depth-first search (DFS),
      |breadth-first search (BFS), and Dijkstra's algorithms.
      br
      |Less in A* search, fuzzy logic, neural networks, and
      |genetic algorithms yet enough that I could probably toss something together
      |give enough time and motivation
      
    dt Unit Test Frameworks
    dd
      |NUnit, JUnit, QUnit, and DIY
    
    dt Web Frameworks
    dd
      |Node, web2py, servlets, JSPs, etc.
    
    dt IoC Containers
    dd
      |Unity, Ninject, and DIY
    
    dt Multithreading
    dd Threads, threadpools, PLINQ, and async/await

    dt Various IDE's
    dd 
      |Visual Studio, Eclipse, Atmel Studio, Arduino IDE, Unity3D
