//- navbar.pug
nav(class="sidenav col-1 col-md-3 col-xl-2 p-0 m-0 pl-0")

  ul(class="sidenav-list text-right m-0 p-0")
    li(class="sidenav-list-item about p-0 m-0")
      a(class="sidenav-link pt-2 pb-2 pr-2 pl-sm-1 f-2 fs-md-7 f-lg-1 no-wrap" href="#about")
        i(class="fas fa-gamepad sidenav-icon" aria-hidden="true")
        span(class="sidenav-text")|&nbsp;About

    //-
      li(class="sidenav-list-item work p-0 m-0")
        a(class="sidenav-link pt-2 pb-2 pr-2 pl-sm-1 f-2 fs-md-7 f-lg-1 no-wrap" href="#work")
          i(class="fas fa-cogs sidenav-icon" aria-hidden="true")
          span(class="sidenav-text")|&nbsp;Work

    li(class="sidenav-list-item education p-0 m-0")
      a(class="sidenav-link pt-2 pb-2 pr-2 pl-sm-1 f-2 fs-md-7 f-lg-1 no-wrap"
          href="#education")
        i(class="fas fa-graduation-cap sidenav-icon" aria-hidden="true")
        span(class="sidenav-text")|&nbsp;Education

    li(class="sidenav-list-item experience p-0 m-0")
      a(class="sidenav-link pt-2 pb-2 pr-2 pl-sm-1 f-2 fs-md-7 f-lg-1 no-wrap" href="#experience")
        i(class="fas fa-industry sidenav-icon" aria-hidden="true")
        span(class="sidenav-text")|&nbsp;Experience

    li(class="sidenav-list-item portfolio p-0 m-0")
      a(class="sidenav-link pt-2 pb-2 pr-2 pl-sm-1 f-2 fs-md-7 f-lg-1 no-wrap" href="#portfolio")
        i(class="fas fa-code sidenav-icon" aria-hidden="true")
        span(class="sidenav-text")|&nbsp;Portfolio

    li(class="sidenav-list-item resume p-0 m-0")
      a(class="sidenav-link pt-2 pb-2 pr-2 pl-sm-1 f-2 fs-md-7 f-lg-1 no-wrap" href="#resume")
        i(class="fas fa-id-card sidenav-icon" aria-hidden="true")
        span(class="sidenav-text")|&nbsp;R&eacute;sum&eacute;