article(id="resume" class="pt-2 pt-sm-5")
  h2(class="text-center fl-1")
    i(class="fas fa-id-card" aria-hidden="true")
    |&nbsp;R&eacute;sum&eacute;
  
  p(class="h5 text-center")
    a(href="mailto:Hi@StevenGago.com")
      |Hi@StevenGago.com
  
  
  div(id="summary")
    p(class="h3")
      |Summary
    
    ul
      li
        |Ten years in software engineering supporting medical devices, 
        |electronic control systems, website development, and embedded 
        |systems using a range of tools including .NET technologies, 
        |SQL databases, embedded systems, and more
      li
        |Experience in object-oriented design and patterns, software
        |life-cycle processes, and test-driven development towards
        |improving software quality
      li
        |Two years as a college instructor in software, networking, and manufacturing technician departments
      li
        |Two years as co-founder and co-owner of an engineering consulting and prototyping firm



  div(id="skills")
    p(class="h3")
      |Technical Skills
    
    p Advanced or proficient knowledge with
    ul
      li
        |C#, WPF, Java, C, C++, Python, HTML, CSS, XML, JavaScript, jQuery,
        |SQL, assembly, and more
      
      li
        |Microsoft Visual Studio, Eclispe IDE, Microsoft SQL Server Management Studio,
        |unit testing frameworks, mocking libraries, IoC Containers, MVVM frameworks,
        |profilers, gaming frameworks, web application frameworks, ladder logic,
        |control systems, numerous hardware peripherals, circuit design, and more

  

  div(id="work")
    p(class="h3")
      |Work Experience



    p(class="h5")
      |Chippewa Valley Technical College
      
      button(type="btn btn-primary"
              data-toggle="modal"
              data-target="#exampleModalCenter")
        i(class="fas fa-map-marker-alt")
      
    p(class="h6")
      |Software and Networking Faculty August 2016 - August 2018
    
    ul
      li
        |Facilitated high-quality, rigorous instruction in software development, networking, 
        |and manufacturing departments: Agile, design patterns, object-oriented programming, 
        |databases, computer hardware, IT repair lab, and more with an emphasis on communication 
        |and student success
      li
        |Created and executed curriculum for 14 distinct courses to teach essential competencies
      li
        |Volunteered as a faculty advisor to a student club to build positive community engagement
    


    p(class="h5")
      |Terumo Cardiovascular Group
      
      button(type="btn btn-primary"
              data-toggle="modal"
              data-target="#exampleModalCenter")
        i(class="fas fa-map-marker-alt")
      
    p(class="h6")
      |Software Engineer May 2014 - July 2016
    
    ul
      li
        |Contributed as the sole software engineer on a multidisciplinary
        |team creating embedded C software testing ultrasonic air
        |sensors to prevent bubbles entering a patient’s bloodstream
        |during heart surgery
      li
        |Designed C# application to read and write embedded system’s
        |EEPROM, decreasing development time by an estimated 2
        |weeks per test system
      li
        |Taught new employees non-product software validation to
        |assure that the intended use of software met the requirements
        |of end-users and complied with regulatory bodies including
        vthe FDA
      li
        |Constructed C# application to select desired LED light
        |frequency for use in blood parameter probes
      li
        |Coached clients about complicated software architecture
        |and processes
      
    
    
    p(class="h5")
      |Pharo LLC
    
    p(class="h6")
      |Co-owner, Co-founder, Software Engineer January 2012 - April 2014
    
    ul
      li
        |Managed overall affairs of our organization to maintain
        |daily operation and was a key motivator
      li
        |Developed website using SQL, Python, and R to visualize
        |the spatial and temporal spread of malaria in northwest
        |India, providing critical data to health policymakers in the
        |region
      li
        |Constructed a multithreaded C# gait event detector for a
        |stroke rehabilitation research laboratory
      li
        |Engineered temperature-controlled bath for experiments
        |to manipulate heat-activated enzymes by rapidly changing
        |water temperature in under 20 seconds
      li
        |Designed C# simulation software for Lionite hardboard
        |plant to increase product throughput by 31%
      li
        |Trained new employees with our company processes,
        |technology, and projects


  div(id="education")
    h2 Education
    ul
      li
        |B.S. Electrical and Electronic Engineering, Marquette University, May 2011, 
        i
          |magna cum laude
      
      ul
        li
          |Engineering societies: IEEE, Tau Beta Pi, Eta Kappa Nu


  div(id="additional")
    h2 Additional
    ul
      li
        |Nominated for Teaching Excellence Award in first semester teaching, CVTC, Fall 2016
      li
        |Launched new digital firing system for firework displays, Ace Pyro LLC, October 2011 - April 2012
      li
        |Undergraduate research on operating systems, Embedded Xinu Project, June 2010 - May 2011
      li
        |Senior Design Course, NASA Lunabotics Mining Competition, September 2010 - May 2011
      li
        |Firmware and software design co-op, Rockwell Automation, June 2008 - May 2010
  br
  br