//-
  article(id="work" class="pt-2 pt-sm-5")
    h2(class="fl-1")
      i(class="fas fa-cogs" aria-hidden="true")
      |Work

    p
      |At my current gig, I am a software and networking instructor at
      |Chippewa Valley Technical College (CVTC) and loving it. I have taught
    ul
      li Programming Fundamentals
      li Object-Oriented Programming
      li Agile Programming with Design Patterns
      li Software Developer Exploration
      li IT Management Concepts
      li IT Service Center
      li Web 1 - HTML and CSS
      li Database 1
      li Java Web Programming
      li Network Diagramming
